{
    "*.ts|*.tsx": [
        "biome check --fix",
        "biome format --write"
    ],
    "*.rs": [
        "rustfmt --edition 2024 --style-edition 2024"
    ],
    "*.json|*.css": [
        "biome format --write"
    ]
}