{
    "*.ts|*.tsx": [
        "biome check --write --unsafe",
        "biome format --write --no-errors-on-unmatched --error-on-warnings"
    ],
    "*.rs": [
        "rustfmt --edition 2024 --style-edition 2024"
    ],
    "*.json|*.css": [
        "biome format --write"
    ]
}